
/*
File: pacific.css
GUI Assignment: Replicate webpage using CSS only
Philip Yeh, philip_yeh@student_uml.edu
What to submit:Html CSS file, associated images.
What is this assignment
I replicated the website given to us. For this I had to use various css techniques such as manipulating border dimmensions,
creating the layout using a wrapper and other small commands that change the way things look.

 */


header, hgroup, nav, footer, figure, figcaption, aside, section, article {
	display: block;
}
/*added background image */
body {
	background-image:url('../Hw2/ptrbackground.jpg');
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;


}
/*create nav bar and float it to left */
nav{
	float: left;
	width: 185px;

}
/*add color and decoration*/
nav a{
	text-decoration: none;
	font-weight:bolder;
	color: indigo;
}
nav ul {

	font-size: 1.2em;
	list-style: none;

}
nav a:visited {
	color: #344873;
}
nav a:hover {
	color: #FFFFFF;
}
/* adjust wrapper so we get similar layout, altered margins and color */
#wrapper{
	width: 80%;
	min-width: 600px;
	margin-left:auto;
	margin-right:auto;
	background-color: skyblue;


}
/*float the image to left */
#content img{
	float: left;
	margin-right: 30px;

}

/* create background for content and add padding so surround text lines up*/
#content{

	background-color: white;
	margin-left: 240px;
	padding-left: 24px;
	padding-top: 10px;
	padding-bottom: 45px;

}
/*add a list style image that is lined up to text using list style inside, Taken from w3 schools */
#content ul{

	list-style: inside url(marker.gif);
}


/*added sunset back ground and put the image to the right.
	since the picture only covered right corner I realized I could set the background to this Header
	to cover the rest of the bar. I used a color picker online to determine the background color to
	make the header complete
 */
h1 {
	background:url('../Hw2/sunset.jpg');
	margin-bottom: 0;
	padding: 15px;
	color: white;
	background-color: #010136;
	background-repeat: no-repeat;
	background-position: right;
}

h2 {
	color: #3399CC;

}

h1,
h2 {
	font-family: Georgia, "Times New Roman", serif;
}

#contact {

	font-size: 90%;
}


dt {

	color: #000033;
}
/*set footer, added spacing to line up and changed font style */
footer {
	padding-left: 20px;
	padding-bottom: 20px;
	background-color: white;
	font-family: Georgia, "Times New Roman", serif;
	font-style: italic;
	margin-left: 240px;

}
/* matching colors*/
.resort{
	font-weight:bold;
	color: RoyalBlue;
}
